{% extends 'home/base.html' %}
{% load static %}
<title>
  {% block title %}
Tsfbd-Branch categories
{% endblock%}
</title>

{% block body %}
<section class="branch_name_list_section">
    <div class="branch_navbar">
       <div class="container text-center">
        <button type="button" class="btn btn-primary">
            Total Branch Category <span class="badge badge-light">{{ branch_categories.count }}</span>
          </button>
        {% if user.is_superuser %}
      <a href="{% url 'branch_categories_form' %}" class="btn btn-primary add_button">Add Category</a>
        {% endif %}
     </div>
    </div>

<div class="container">
    <h1 class="branch_heading_title"> List of  Branch Categories </h1> 
    {% include 'home/messeage.html' %}
   <div class="row justify-content-center">
       {% for name in branch_categories %}
       <div class="card branc_section">
           <div class="card-body">
            <div class="text-center">
                <img src="{% static 'img/tsf.jpg'%}" alt="" class="branch_tsf_logo">
              </div>
              <p class="branch_categories_name"><a href="{% url 'branch_name' name.slug name.pk %}">{{ name.name}}</a></p>
              {% if user.is_superuser %}
              <a href="{% url 'branch_categories_updated' name.slug name.pk %}" class="btn btn-danger btn-sm btn-block">Update</a>
              <a href="{% url 'branch_categories_delete' name.slug name.pk %}" class="btn btn-danger btn-sm btn-block"  onclick="return confirm('are you sure want to delete?')">delete</a>
              {% endif %}

           </div>
       </div>
       {% empty %}
       <div class="alert alert-danger" role="alert">
         Not added yet..thank you    
         </div>
       {% endfor %}
   </div>
</div>
</section>


{% endblock %}
