{% load static %}
<section id="banner_section">

  <div class="container logoheder">
     <div class="tsf-logo-box">
       <p  class="dignity">Unity</p>
       <img src="{{ about_inform.tsf_logo.url }}" alt="logo" class="tsf_logo_banner">
     </div>

     <div class="tsf-text-box">
       <p class="dignity">Education</p>
      <h3 class="banner_text">{{ about_inform.tsf_greeting}}, {{ about_inform.country}}</h3>
    </div>

    
    <div class="tsf-flag-box">
      <p  class="dignity">Progress</p>
      <img src="{{ about_inform.tsf_flag.url}}" alt="flag" class="tsf_flag_banner">
    </div>
    </div>
    
    </section>