
  <ul class="social-area">
    <li><a href="{{ about_inform.tsf_fb_link }}"><i class="fab fa-facebook-f fb icons"></i></a></li>
    <li><a href="{{ about_inform.tsf_twitter_link }} "><i class="fab fa-twitter twitter icons"></i></a></li>
    <li><a href ="{{ about_inform.tsf_youtube_link }}" ><i class="fab fa-youtube Youtube icons"></i></a></li>
    <li><a href="{{ about_inform.tsf_instagram_link }}" ><i class="fab fa-instagram instgrm icons"></i></a></li>
    <li><a href="{{ about_inform.tsf_linkdin_link }}" ><i class="fab fa-linkedin-in icons"></i></a></li>
  </ul>
