{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<section class="vedio_details_secton">
    <div class="container">
        <div class="row justify-content-center">
         <div class=" col-md-8 card">
             <div class="card-body" style="min-height: 550x;">
            <script>
                alert('this is under developmemnt')
            </script>
             </div>
             </div>
      </div>
        </div>

    </section>

{% endblock %}