{% extends 'home/base.html' %}
{% load static %}
<title>
  {% block title %}
Tsfbd - Central Leader List
{% endblock%}
</title>

{% block body %}
<section class="branch_name_list_section">
    <div class="branch_navbar">
       <div class="container text-center">

        <button type="button" class="btn btn-primary">
            Total Member <span class="badge badge-light">{{ centralLeader.count }}</span>
          </button>
          {% if user.is_superuser %}
          <a href="{% url 'central_member_form' central_year.slug central_year.pk %}" class="btn btn-primary">Add Member</a>
            {% endif %}

     </div>
    </div>

<div class="container">
    <h1 class="branch_heading_title"> Member list of {{ central_year }} </h1> 
    {% include 'home/messeage.html' %}
    <div class="row justify-content-center">
      
  {% for member in centralLeader %}

      <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="our-team">
          <div class="member_profile_box">
            <img   src="{% if member.photo %}{{ member.photo.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" class="img-fluid rounded-circle member_profile_pic">
          </div>
          <p class="member_name"><a href="{% url 'central_leader_details' member.slug member.pk %}">{{ member.name }}</a></p>
          <p class="member_position badge badge-warning">{{ member.position}}</p>

 
        </div>
      </div>
      {% empty %}
      <div class="alert alert-danger" role="alert">
        Not added yet..thank you    
        </div>
      {% endfor %}

       
    </div>
  </div>
</section>


{% endblock %}
