{% extends 'home/base.html' %}
{% load static %}
<title>
  {% block title %}
Tsfbd - Activities draft
{% endblock%}
</title>
{% block body %}
<section style="min-height: 500px;">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      {% for news_draft in NewsDraft %}
      <div class="card">
<div class="card-body">
  <p> Created : {{ news_draft.created_date|date:'d-m-Y'}}</p>
<h2><a href="{% url 'news_details' news_draft.slug news_draft.pk %}">{{ news_draft.title }}</a></h2>
<p>{{ news_draft.text|truncatechars:60|linebreaksbr }}</p>
</div>
{% empty %}
<div class="alert alert-danger" role="alert">
 there is no draft post yet..
</div>
{% endfor %}
      </div>
    </div>
  </div>
</div>
</section>

{% endblock %}
