{% extends 'home/base.html' %}
{% load static %}
<title>
    {% block title %}
  Tsfbd -photo details
  {% endblock%}
  </title>
{% block body %}
<section style="min-height: 550px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 card photo_details_box">
               <div class="card-bdoy">
                <img src="{{photo.image.url}}" class="photo_details" alt="First slide">
                <p>{{photo.description}}</p>
                <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go Back</a>
               </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}